@model dynamic

@{
    ViewBag.Title = Model.Meeting.Title;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@Model.Meeting.Title</h2>

<div class="container-fluid">
    <div class="sidebar">
        <a href="/meetings/actions/@Model.Meeting.ID/Register" class="btn">Register</a>
    </div>
    <div class="content">
        <p>Already registered</p>
        <ul>
            @foreach (var attendie in Model.Meeting.Attendies)
            {
                <li>@attendie.FullName</li>
            }
        </ul>
    </div>
</div>