@model dynamic

@{
    ViewBag.Title = Model.Meeting.Title;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@Model.Meeting.Title</h2>

<div class="container-fluid">
    <div class="sidebar">
        <p>Eventually here you will see actions like register attendie.</p>
    </div>
    <div class="content">
        <ul>
        @foreach (var attendie in Model.Meeting.Attendies)
        {
            <li>@attendie.FullName</li>
        }
        </ul>
    </div>
</div>